<ion-header mode="ios">
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Bill Management</ion-title>
      
  </ion-toolbar>
</ion-header>

<!-- Segment Creation -->
<ion-content>
  <ion-toolbar>
    <ion-segment mode="ios" (ionChange)="viewChanged($event)" value="generate">
      <ion-segment-button value='generate'>
        <ion-label class="head">Generate  Bill</ion-label>
      </ion-segment-button>
      <ion-segment-button value='past'>
        <ion-label class="head">Past Bills</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
 
  <!-- Generate Bill Segment -->
  <div class="main" *ngIf = "showGenerateBill">
    <div>
      <p class="section_title">
        Enter Details
      </p>
    </div>
    <form [formGroup]="billPreviewFormGroup">
    <div class="form">
      <div class="input_wrapper">
        <ion-label class="label_primary">Buyer</ion-label>
          <ion-select formControlName="buyerUserIdFK" class="input_primary" interface="action-sheet" placeholder="Select Buyer" mode="ios">
            <ion-select-option *ngFor="let buyer of buyersData" [value]="buyer.buyerUser.id">{{buyer.buyerUser.fullName}}</ion-select-option>
          </ion-select>
      </div>
      <field-errors [formGroup]="billPreviewFormGroup" fieldName="buyerUserIdFK" [getErrorMessage]="getErrorMessage.bind(this)"></field-errors>
      <div class="input_wrapper">
        <ion-label class="label_primary">Month</ion-label>
        <ion-datetime (ionChange)="onSelectstartDate($event)" class="input_primary" mode="ios" display-format="MMM YY" picker-format="MMMM YYYY" min="2020-01-01" placeholder="Select month"></ion-datetime>
      </div>

      <!-- <ion-item class="input_wrapper" lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label class="label">Choose Custom Billing Period</ion-label>
      </ion-item>  

      <div class="input_wrapper pay">
        <ion-label class="label_primary">Payable By: </ion-label>
        <ion-datetime class="input_primary" mode="ios" display-format="MMM YY" picker-format="MMMM YYYY" min="2020-01-01" placeholder="Select month"></ion-datetime>
      </div> -->
    </div>
  </form>

    <div class="view">
      <ion-button (click)="onBillPreview()">VIEW</ion-button>
    </div>


    <div class="bill-preview" *ngIf = "showPreviewBill">
      <div>
        <p class="section_title">
          Bill Preview
        </p>
      </div>
      <div class="card_primary bill-preview_items_wrapper">
        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Buyer Details:</span>
          <br>
          <span class="bill-preview_item-timestamp">
            <span class="name">{{previewBill.bookings[0].buyerUser.fullName}}</span>
            <br>
            {{previewBill.bookings[0].buyerUser.buyer.address}}
          </span>
        </p>

        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Billing Period:</span>
          <br>
          <span class="bill-preview_item-timestamp">
            {{apiBodyData.startDate}} - {{apiBodyData.endDate}}
          </span>
        </p>

        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Payable By:</span>
          <br>
          <span class="bill-preview_item-timestamp">
            08/07/2021 (7 Days)
          </span>
        </p>

        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Items:</span>
        </p>
        <p class="bill-preview_item-label" *ngFor = "let item of previewBill.items">
          <span class="bill-preview_item-label">{{item.productName ? item.productName : item.product.productName }}</span>
          <span class="bill-preview_item-label price-a">₹{{item.productPrice ? item.productPrice : item.product.productPrice}}/{{item.product.productUnit}} * {{item.productQtyCount}}{{item.product.productUnit}}</span>
        </p>
        <div class="hr"> </div>

        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Total Bill Amount:</span>
          <span class="bill-preview_item-label--bold price-b">₹{{calculateBillTotal(previewBill.items)}}</span>
        </p>
        <ion-button class="ion-text-wrap" (click)="onBillCreate()">
          Confirm & Generate Bill
        </ion-button>
      
        
      </div>
    </div>
  </div>

  <!-- Past Bills Segment -->
  <div class="main" *ngIf = "showPastBills">
    <div class="form">
      <div class="input_wrapper">
        <ion-input class="input_primary" placeholder="Search by name or bill no"></ion-input>
        <ion-icon class="search-icon" color="medium" name="search-outline"></ion-icon>
      </div>
      <div class="input_wrapper">
        <ion-label class="label_primary">Filter by Month</ion-label>
        <ion-datetime class="input_primary" mode="ios" display-format="MMMM YYYY" picker-format="MMMM YYYY" min="2020-01-01" placeholder="Select month"></ion-datetime>
        <ion-icon class="calendar-icon" color="medium" name="chevron-down-outline"></ion-icon>
      </div>
    </div>
    <div class="filter">
      <ion-button>FILTER</ion-button>
    </div>

    <div class="bill-preview">
      <p class="section_title">
        All Bills
      </p>
      <div class="card_primary bill-preview_items_wrapper" *ngFor = "let bill of billData">
        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Bill No.: {{bill.billNumber}}</span>
        </p>
        <p class="bill-preview_item-timestamp">
          <span class="name">{{bill.buyerUser.fullName}}</span>
          <br>
          {{bill.startDate}} - {{bill.endDate}}
        </p>
        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Total Bill Amount:</span>
          <span class="bill-preview_item-label--bold price">₹{{bill.billAmount}}</span>
        </p>
        <ion-buttons class="bill-preview_item-edit" [routerLink]="['/seller/bill-detail']">
          view
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-buttons>
        <ion-chip color = "success">
          <ion-label class="paid" color = "secondary">{{bill.status}}</ion-label>
        </ion-chip>
      </div>

<!-- 

      <div class="card_primary bill-preview_items_wrapper">
        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Bill No.: 11234021245</span>
        </p>
        <p class="bill-preview_item-timestamp">
          <span class="name">Tony Stark(*****42281)</span>
          <br>
          01/07/2021 - 31/07/2021 (31 Days)
        </p>
        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Total Bill Amount:</span>
          <span class="bill-preview_item-label--bold price">₹2,110.00</span>
        </p>
        <ion-buttons class="bill-preview_item-edit" [routerLink]="['/seller/bill-detail']">
          view
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-buttons>
        <ion-chip color = "danger">
          <ion-label class="paid" color = "danger">UNPAID</ion-label>
        </ion-chip>
      </div>



      <div class="card_primary bill-preview_items_wrapper">
        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Bill No.: 11234021245</span>
        </p>
        <p class="bill-preview_item-timestamp">
          <span class="name">Tony Stark(*****42281)</span>
          <br>
          01/07/2021 - 31/07/2021 (31 Days)
        </p>
        <p class="bill-preview_item-label">
          <span class="bill-preview_item-label--bold">Total Bill Amount:</span>
          <span class="bill-preview_item-label--bold price">₹2,110.00</span>
        </p>
        <ion-buttons class="bill-preview_item-edit" [routerLink]="['/seller/bill-detail']">
          view
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-buttons>
        <ion-chip color = "success">
          <ion-label class="paid" color = "secondary">PAID</ion-label>
        </ion-chip>
      </div> -->



    </div>
  </div>
  
</ion-content>
