<ion-header mode = "ios">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" [routerLink]="['/buyer/bill-management']">
      <ion-icon name="chevron-back-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>Bill #12344456765</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="advance-bookings">
      <div class="card_primary advance-bookings_items_wrapper">
        <p class="advance-bookings_item-label status">
          <span class="advance-bookings_item-label--bold">Bill #{{byuerBillDetail.billNumber}}</span>
        </p>
        <ion-chip color = "danger">
          <ion-label class="paid" color = "danger">{{byuerBillDetail.status}}</ion-label>
        </ion-chip>
        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Seller Details:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            <span class="name">{{byuerBillDetail.buyerUser.fullName}}</span>
            <br>
            {{byuerBillDetail.buyerUser.buyer.address}}
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Billing Period:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            {{byuerBillDetail.startDate}} - {{byuerBillDetail.endDate}}
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Payable By:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            08/07/2021 (7 Days)
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Items:</span>
        </p>
        <p class="advance-bookings_item-label" *ngFor="let item of byuerBillDetail.billItems">
          <span class="payment-history_item-label--bold">{{item.productName}}</span>
          <span class="payment-history_item-label--bold price-a">₹{{item.price}}/{{item.productUnit}}</span>
        </p>
        
        <div class="hr"> </div>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Total Bill Amount:</span>
          <span class="advance-bookings_item-label--bold price-b">₹{{byuerBillDetail.billAmount}}</span>
        </p>
      </div>
    </div>
    <ion-button class="out-btn" expand="round" fill="outline" color = "danger" (click)="raiseDisputeAlert($event)">Raise Dispute</ion-button>
  </div>
  

  
    
</ion-content>
