<ion-header mode="ios">
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Advanced Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Segment Creation -->
<ion-content>
  <ion-toolbar>
    <ion-segment mode="ios" (ionChange)="viewsChanged($event)" value="requests">
      <ion-segment-button value='requests'>
        <ion-label>Requests({{totalRequest}})</ion-label>
      </ion-segment-button>
      <ion-segment-button value='confirmed'>
        <ion-label>Confirmed(18)</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

<!-- Requests Segment -->
  <div class="main" *ngIf = "showRequests">
    <div class="advance-bookings">
      <div class="card_primary advance-bookings_items_wrapper" *ngFor="let item of pendingItems">
        <p class="label_primary">{{ item.createdAt }}</p>
        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Buyer Details:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            <span class="name">{{item.buyerUser.fullName}}</span>
            <br>
            12/3, New Road, Old Street, Indore, MP
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Required on:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            {{item.requiredOnDate}}
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Product Requested (2):</span>
        </p>
          <ion-row *ngFor="let i of item.bookingDetails">
            <ion-col size="6">
              <p class="advance-bookings_item-label">{{i.productName}}</p>
            </ion-col>
            <ion-col size="3">
              <p class="advance-bookings_item-label">{{i.productQty}} {{i.productUnit}}</p>
            </ion-col>
            <ion-col size="3">
              <p class="advance-bookings_item-label price">{{i.price}}</p>
            </ion-col>
          </ion-row>
          <div class="hr"> </div>
  

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Order Total:</span>
          <span class="advance-bookings_item-label--bold price">₹{{calculateOrderTotal(item.bookingDetails)}}</span>
        </p>

        <ion-row>
          <ion-col size="7.2">
            <ion-button class="ion-text-wrap" (click)="confirmRejectBookings('BOOKED', item.id)">
              ACCEPT ORDER<ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4.7">
            <ion-button color="danger" (click)="confirmRejectBookings('REJECT', item.id)">
              REJECT<ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

<!-- Confirmed Segment -->
  <div class="main" *ngIf = "showConfirmed">
      <div class="card_primary advance-bookings_items_wrapper" *ngFor="let item of bookedItems">
        <p class="label_primary">{{ item.createdAt }}</p>
        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Buyer Details:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            <span class="name">{{item.buyerUser.fullName}}</span>
            <br>
            12/3, New Road, Old Street, Indore, MP
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Required on:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            {{item.requiredOnDate}}
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Product Requested (2):</span>
        </p>
          <ion-row *ngFor="let i of item.bookingDetails">
            <ion-col size="6">
              <p class="advance-bookings_item-label">{{i.productName}}</p>
            </ion-col>
            <ion-col size="3">
              <p class="advance-bookings_item-label">{{i.productQty}} {{i.productUnit}}</p>
            </ion-col>
            <ion-col size="3">
              <p class="advance-bookings_item-label price">{{i.price}}</p>
            </ion-col>
          </ion-row>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Order Total:</span>
          <span class="advance-bookings_item-label--bold price">₹{{calculateOrderTotal(item.bookingDetails)}}</span>
        </p>
      </div>
    </div>

</ion-content>
