.main {
    padding: 20px 40px 140px;
    i {
        padding-left: 12px; 
    }
    .input_wrapper {
        margin-bottom: 20px;
        position: relative;
    }
    ion-grid {
        padding: 0;
        ion-row {
            justify-content: space-between;
        }
    }
    .action {
        width: calc(100%);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 40px 20px;
        z-index: 2;
        background: var(--ion-color-light);
    }
    .add {
        color: var(--ion-color-secondary);
        font-size: 13px;
        float: right;
    }
    .close {
        color: var(--ion-color-danger);        
        float: right;
        font-size: 25px;
    }
    p{
        display: inline-block;
        margin-top: 0px;

    }
}
