.wrapper {
    height: 50vh;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
        text-align: center;
        font-size: 14px;
    }
    .action {
        width: 100%;
        margin-top: 20px;
    }
}
.buyer {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    position: relative;
    .content {
        color: #B2B4B1;
    }
    &::before {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0px;
        right: 0;
        background-color: var(--ion-color-primary);
        z-index: 2;
        border-radius: 0 60px 0 0px;
    }
    &::after {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        top: -60px;
        left: 0;
        background-color: var(--ion-color-primary);
    }
}
.seller {
    color: var(--ion-color-medium);
    position: relative;
    &::before {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: -60px;
        right: 0;
        background-color: var(--ion-color-light);
        z-index: 1;
    } 
    &::after {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--ion-color-light);
        z-index: 1;
        border-radius: 0 0 0 60px;
    } 
}