<ion-content>
  <div class="wrapper seller">
    <div class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ducimus illum, aperiam voluptatibus dolores quibusdam exercitationem odio dicta nihil laborum nisi delectus.
    </div>
    <div class="action">
      <ion-button [routerLink]="['/auth/seller/register']">I'm a Seller</ion-button>
    </div>
  </div>
  <div class="wrapper buyer">
    <div class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ducimus illum, aperiam voluptatibus dolores quibusdam exercitationem odio dicta nihil laborum nisi delectus.
    </div>
    <div class="action">
      <ion-button color="light" [routerLink]="['/auth/buyer/register']">I'm a Buyer</ion-button>
    </div>
  </div>
</ion-content>
