ion-row{
    margin-bottom: -10px;
}
ion-icon{
    position: absolute;
    right: 20px;
    color: var(--ion-color-medium);
}

.main{
    padding: 20px 24px;
    overflow-y: scroll;
    .details_wrapper{
        .label_primary{
            font-size: 14px;
            margin-bottom: 20px !important;
        }
        .value{
            font-size: 15px;
        }
    }
}