<div class="main">
  <ion-icon name="close-outline" size = "large" (click) = "dismiss()"></ion-icon>
  <p class="ion-text-center section_title">Seller Details</p>
  <div class="input_wrapper">
    <ion-grid>
      <ion-row>
        <ion-col class=" label_primary head" size="4.5">
          Name
        </ion-col>
        <ion-col class="value" size="7.5">
          <!-- {{SellerDataModel.fullName}} -->
          Tony Stark
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <p class="label_primary head">Mobile</p>
        </ion-col>
        <ion-col size="7.5">
          <p class="value">
            <!-- {{SellerDataModel.mobileNumber}} -->1234567890
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <p class="label_primary head">Shop</p>
        </ion-col>
        <ion-col size="7.5">
          <p class="value">
            <!-- {{SellerDataModel.seller.shopName}} -->Dairy Needs
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <p class="label_primary head">Registration</p>
        </ion-col>
        <ion-col size="7.5">
          <p class="value">
            <!-- {{SellerDataModel.seller.shopRegistrationNumber}} -->123456
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <p class="label_primary head">FSSAI</p>
        </ion-col>
        <ion-col size="7.5">
          <p class="value">
            <!-- {{SellerDataModel.seller.fssaiCode}} -->123456
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <p class="label_primary head">State</p>
        </ion-col>
        <ion-col size="7.5">
          <p class="value">Madhya Pradesh</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <p class="label_primary head">City</p>
        </ion-col>
        <ion-col size="7.5">
          <p class="value">Indore</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <p class="label_primary head">Address</p>
        </ion-col>
        <ion-col size="7.5">
          <p class="value">
            <!-- {{SellerDataModel.seller.shopAddress}} -->Vijay Nagar
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4.5">
          <p class="label_primary head">Password</p>
        </ion-col>
        <ion-col>
          <p class="value">********</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
<!-- <ion-content mode="ios">
</ion-content> -->
