<div class="main">
  <ion-icon name="close-outline" size = "large" (click) = "dismiss()"></ion-icon>
  <p class="ion-text-center section_title">Seller Details</p>
  <div class="details_wrapper">
    <ion-grid>
      <ion-row>
        <ion-col class="label_primary" size="4.5">
          Name
        </ion-col>
        <ion-col class="value" size="7.5">
          <!-- {{SellerDataModel.fullName}} -->
          Tony Stark
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4.5" class="label_primary">
          Mobile
        </ion-col>
        <ion-col size="7.5" class="value">
            <!-- {{SellerDataModel.mobileNumber}} -->1234567890
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4.5" class="label_primary">
          Shop
        </ion-col>
        <ion-col size="7.5" class="value">
          <!-- {{SellerDataModel.seller.shopName}} -->Dairy Needs
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4.5" class="label_primary">
          Registration
        </ion-col>
        <ion-col size="7.5" class="value">
          <!-- {{SellerDataModel.seller.shopRegistrationNumber}} -->123456
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4.5" class="label_primary">
          FSSAI
        </ion-col>
        <ion-col size="7.5" class="value">
          <!-- {{SellerDataModel.seller.fssaiCode}} -->123456
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4.5" class="label_primary">
          State
        </ion-col>
        <ion-col size="7.5" class="value">
          Madhya Pradesh
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4.5" class="label_primary">
          City
        </ion-col>
        <ion-col size="7.5">
          Indore
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4.5" class="label_primary">
          Address
        </ion-col>
        <ion-col size="7.5">
          <!-- {{SellerDataModel.seller.shopAddress}} -->Vijay Nagar
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
