.main {
    padding: 20px 40px;
    .form {
        width: 100%;
        .input_wrapper {
            margin-bottom: 20px;
            margin-top: 20px;
            position: relative;
            .search-icon {
                position: absolute;
                right: 20px;
                top: calc(17% + 5px);
                z-index: 2;
            }
            .calendar-icon {
                position: absolute;
                right: 20px;
                top: calc(50% + 5px);
                z-index: 2;
            }
        }
    }
    .action {
        ion-button {
            &:first-child { 
                margin-bottom: 20px;
            }
        }

    }
    .search{
        float: right;
    }
    .name{
        font-size: 13px;
    }
    .price{
        display: inline-block;
        float: right;
    }
    .payment-history {
        &_items_wrapper {
            margin-bottom: 1rem;
        }
        &_item {
            padding: 12px;
            border-bottom: 1px solid var(--ion-color-primary);
            &:last-child {
                border-bottom: none;
            }
            &-timestamp { 
                font-size: 12px;
                font-weight: 450;
                color: var(--ion-color-primary);
                margin-bottom: 10px;
            }
            &-label {
                font-size: 13px;
                font-weight: 300;
                margin: 0 0 10px;
                &--bold {
                    font-weight: 600;
                }
            }
            &-edit {
                font-weight: 500;
                font-size: 13px;
                color: var(--ion-color-secondary);
                ion-icon {
                    padding-left: 4px;
                }
            }
        }
    }
}
