ion-chip{
    margin-top: -10px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.main {
    padding: 20px 40px;
    .home {
        &_items_wrapper {
            margin-bottom: 1rem;
            padding-bottom: 1px;
        }
        &_item {
            padding: 12px;
            &:last-child {
                border-bottom: none;
            }
            &-timestamp { 
               font-size: 12px;
               font-weight: 300;
               color: var(--ion-color-medium);
               margin: 0;
            }
            &-label {
                font-size: 13px;
                font-weight: 300;
                margin: 10px 0;
                &--bold {
                    font-weight: 500;
                }
            }
            &-action {
                font-size: 12px;
                font-weight: 300;
                color: var(--ion-color-secondary);
                display: flex;
                align-items: center;
                ion-icon {
                    padding-left: 4px;
                }
            }
            &-edit {
                font-weight: 500;
                display: inline-block;
                float: right;
                font-size: 13px;
                color: var(--ion-color-secondary);
                margin-top: 2px;
            }
        }
    }
    .accept{
        font-size: 13px;
        font-weight: 600;
    }
    .reject{
        font-size: 13px;
        font-weight: 600;
        float: right;
        align-items: center;
    }
}
    
