<ion-header mode="ios">
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Connection Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="home">
      <p class="section_title">
        You have 4 new requests
      </p>
      <div class="card_primary home_items_wrapper" *ngFor="let item of numbers">
        <div class="home_item">
          <p class="home_item-timestamp">12:34:56 | 12-12-2021</p>
          <p class="home_item-label">
            <span class="home_item-label--bold">Dairy Needs (*****42281) </span>  
            wants to add you as their buyer
          </p>
        </div>
        <ion-chip color = "success" class="accept">
          <ion-label color = "secondary">ACCEPT REQUEST</ion-label>
        </ion-chip>
        <ion-chip color = "danger"  class="reject">
          <ion-label color = "danger">REJECT</ion-label>
        </ion-chip>
      </div>
    </div>
  </div>
</ion-content>
