<div class="header" *ngIf="!showSectionZero">
  <ion-grid>
    <ion-row>
      <ion-col size="9" class="header_title">
        Setup your account
      </ion-col>
      <ion-col size="3" class="header_subtitle" *ngIf="showSectionOne">
        Step 1 of 2
      </ion-col>
      <ion-col size="3" class="header_subtitle" *ngIf="showSectionTwo">
        Step 2 of 2
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-content>

  <div class="section_zero" *ngIf="showSectionZero">
  
    <div class="page_info">
      <div class="img_wrapper">
        <img src="../../../assets/icon/verification.png" alt="">
      </div>
      <div class="img_caption">
        <p>
          Welcome onboard! <br>
          What should we call you?
        </p>
      </div>
    </div>
  
    <div class="card_main">
      <div class="input_wrapper">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="mobile">
              <ion-input type="text" placeholder="Full Name"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="action_btn">
        <ion-button expand="block" (click)="goToStepOne()">Get Started</ion-button>
      </div>
    </div>

  </div>

  <!-- ========== Stepper Step 1 Begins ========== -->
  <div class="stepper_section section_one" *ngIf="showSectionOne">

    <div class="card_main">
      <div class="card_header">
        <div class="card_title">
          <p>Hello Selena!</p>
        </div>
        <div class="card_sub_title">
          <p>
            Please provide up the details below to help up setup your profile
          </p>
        </div>
      </div>
      <div class="input_wrapper">
        <ion-grid>
          <ion-row class="radio_label">
            <ion-col>
              <p>Select your gender</p>
            </ion-col>
          </ion-row>
          <ion-row class="radio_group">
            
              <ion-radio-group>
                <ion-col size="4">
                  <ion-radio value="Male"></ion-radio>
                  <p>Male</p>
                </ion-col>
                <ion-col size="4">
                  <ion-radio value="Female"></ion-radio>
                  <p>Female</p>
                </ion-col>
                <ion-col size="4">
                  <ion-radio value="Other"></ion-radio>
                  <p>Other</p>
                </ion-col>

              </ion-radio-group>

          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-input type="email" placeholder="E-mail"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-datetime displayFormat="YYYY/MM/DD" min="1930-01-01" max="2002-31-12" placeholder="Date of Birth" mode="ios"></ion-datetime>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-input type="text" placeholder="Registration Number"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-input type="text" placeholder="Registration Photo" (click)="f.click()" readonly></ion-input>
              <input class="ion-hide" #f type="file" id="file-input"
                accept="image/png, image/jpeg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-input type="text" placeholder="License Number"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-input type="text" placeholder="License Name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-input type="text" placeholder="License Photo" (click)="f.click()" readonly></ion-input>
              <input class="ion-hide" #f type="file" id="file-input"
                accept="image/png, image/jpeg">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="stepper_btn">
      <ion-button (click)="goToStepTwo()">Continue</ion-button>
    </div>

  </div>
  <!-- ========== Stepper Step 1 Ends ========== -->

  <!-- ========== Stepper Step 2 Begins ========== -->
  <div class="stepper_section section_two" *ngIf="showSectionTwo">

    <div class="card_main">
      <div class="card_header">
        <div class="card_title">
          <p>Just a few more things</p>
        </div>
        <div class="card_sub_title">
          <p>
            Please provide up the details below to help up setup your profile
          </p>
        </div>
      </div>
      <div class="input_wrapper">
        <ion-grid>
          <ion-row class="radio_label">
            <ion-col>
              <p>Where can your patients visit you?</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-select placeholder="State" mode="ios">
                <ion-select-option value="">Madhya Pradesh</ion-select-option>
                <ion-select-option value="">Uttar Pradesh</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-select placeholder="City" mode="ios">
                <ion-select-option value="">Indore</ion-select-option>
                <ion-select-option value="">Bhopal</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-input type="text" placeholder="Complete Address"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-input type="text" placeholder="Pickup Current Location"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="radio_label">
            <ion-col>
              <p>Contact number (this would be shown on your profile to your patients)</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-input type="number" placeholder="Contact Number"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="radio_label">
            <ion-col>
              <p>What are your specializations?</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="dark_input">
              <ion-select placeholder="Specialization" mode="ios">
                <ion-select-option value="">Cardiologist</ion-select-option>
                <ion-select-option value="">Dermatologist</ion-select-option>
                <ion-select-option value="">Ear-Nose-Throat (ENT) Specialist</ion-select-option>
                <ion-select-option value="">Gastroenterologist</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <!-- Repeat the below div on Add More Click  -->
          <div *ngFor="let item of specializationsData">
            <ion-row class="radio_label">
              <ion-col>
                <p>Select more specialization</p>
                <ion-icon name="close-circle-outline" size="small" color="danger" 
                  class="remove_more_emergency" (click)="removeMoreSpecialization()"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="dark_input">
                <ion-select placeholder="Specialization" mode="ios">
                  <ion-select-option value="">Cardiologist</ion-select-option>
                  <ion-select-option value="">Dermatologist</ion-select-option>
                  <ion-select-option value="">Ear-Nose-Throat (ENT) Specialist</ion-select-option>
                  <ion-select-option value="">Gastroenterologist</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </div>

          <ion-row>
            <ion-col class="action_link_btn">
              <div>
                <span (click)="addMoreSpecialization()">Add More</span>
                <ion-icon name="add-circle-outline" size="small" color="primary"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
          
        </ion-grid>
      </div>
    </div>
    <div class="stepper_btn">
      <ion-button (click)="registerAccount()">Submit</ion-button>
    </div>

  </div>
  <!-- ========== Stepper Step 2 Ends ========== -->

</ion-content>
