ion-row{
    margin-bottom: -10px;
}
.main{
    padding: 20px 40px;
    .input_wrapper{
        .head{
            font-size: 14px;
        }
        .value{
            font-size: 15px;
        }
        .change{
            font-size: 14px;
            color: rgba(221, 25, 25, 0.959);
            float: right;
            margin-bottom: 40px;
        }
    }
}