<ion-header mode = "ios">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" [routerLink]="['/seller/product-list']">
      <ion-icon name="chevron-back-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] = "addProductFormGroup">
    <div class="main">
      <div class="add-product">
        <p class="section_title">
          Enter Product Details
        </p>
      </div>
      <div class="form">
        <div class="input_wrapper">
          <ion-label class="label_primary">Product Name</ion-label>
          <ion-input class="input_primary" type="text" formControlName = "productName" placeholder="Enter the product name"></ion-input>
        </div>
        <field-errors [formGroup]="addProductFormGroup" fieldName="productName" [getErrorMessage]="getErrorMessage.bind(this)"></field-errors>
        <div class="input_wrapper">
          <ion-label class="label_primary">Unit</ion-label>
          <ion-input class="input_primary" type="text" formControlName = "productUnit" placeholder="Enter unit"></ion-input>
        </div>
        <field-errors [formGroup]="addProductFormGroup" fieldName="productUnit" [getErrorMessage]="getErrorMessage.bind(this)"></field-errors>
        <div class="input_wrapper">
          <ion-label class="label_primary">Price</ion-label>
          <ion-input class="input_primary" type="number" formControlName = "productPrice" placeholder="Enter the product price"><i>₹</i></ion-input>
        </div>
        <field-errors [formGroup]="addProductFormGroup" fieldName="productPrice" [getErrorMessage]="getErrorMessage.bind(this)"></field-errors>
      </div>

      <p class="error-text">{{customErrorMessage}}</p>

      <div class="action w-100">
        <ion-button (click) = "onAddProduct()">SAVE</ion-button>
      </div>
    </div>
  </form>
</ion-content>
