ion-list {
    position: relative;
}
ion-menu-toggle {
    
}
hr {
    margin-top: 60px;
}
.close-icon {
    font-size: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.router-link-active {
    color: var(--ion-color-secondary);
}