<ion-header mode="ios">
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Advanced Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Segment Creation -->
<ion-content>
  <ion-toolbar>
    <ion-segment mode="ios" (ionChange)="viewChange($event)" value="active">
      <ion-segment-button value='active'>
        <ion-label>Active(2)</ion-label>
      </ion-segment-button>
      <ion-segment-button value='requested'>
        <ion-label>Past(18)</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

<!-- Active Segment -->
  <div class="main" *ngIf = "showActive">
    <div class="advance-bookings">
      <div class="card_primary advance-bookings_items_wrapper">
        <p class="label_primary">Requested at 12-12-2021</p>
        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Seller Details:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            <span class="name">Tony Stark(*****42281)</span>
            <br>
            12/3, New Road, Old Street, Indore, MP
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Required on:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            12/07/2021 - Thursday - 11:00 AM
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Product Requested (2):</span>
        </p>
        <ion-row>
          <ion-col size="6">
            <p class="advance-bookings_item-label">Full Fat Milk</p>
          </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label">2 Litres</p>
          </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label price">₹120.00</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p class="advance-bookings_item-label">Curd</p>
          </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label">0.5 Kg</p>
           </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label price">₹50.00</p>
          </ion-col>
        </ion-row>
        <div class="hr"> </div>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Order Total:</span>
          <span class="advance-bookings_item-label--bold price">₹170.00</span>
        </p>
      
        <ion-row class="ion-justify-content-center">
          <ion-col size="7">
            <ion-button class="ion-justify-content-center">
              WAITING
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  

  <div class="advance-bookings">
      <div class="card_primary advance-bookings_items_wrapper">
        <p class="label_primary">Requested at 12-12-2021</p>
        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Seller Details:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            <span class="name">Tony Stark(*****42281)</span>
            <br>
            12/3, New Road, Old Street, Indore, MP
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Required on:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            12/07/2021 - Thursday - 11:00 AM
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Product Requested (2):</span>
        </p>
        <ion-row>
          <ion-col size="6">
            <p class="advance-bookings_item-label">Full Fat Milk</p>
          </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label">2 Litres</p>
          </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label price">₹120.00</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p class="advance-bookings_item-label">Curd</p>
          </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label">0.5 Kg</p>
           </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label price">₹50.00</p>
          </ion-col>
        </ion-row>
        <div class="hr"> </div>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Order Total:</span>
          <span class="advance-bookings_item-label--bold price">₹170.00</span>
        </p>

        <ion-row class="ion-justify-content-center">
          <ion-col size="7">
            <ion-button class="ion-text-wrap" color="success">
              ACCEPTED
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
 




  <div class="advance-bookings">
      <div class="card_primary advance-bookings_items_wrapper">
        <p class="label_primary">Requested at 12-12-2021</p>
        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Seller Details:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            <span class="name">Tony Stark(*****42281)</span>
            <br>
            12/3, New Road, Old Street, Indore, MP
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Required on:</span>
          <br>
          <span class="advance-bookings_item-timestamp">
            12/07/2021 - Thursday - 11:00 AM
          </span>
        </p>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Product Requested (2):</span>
        </p>
        <ion-row>
          <ion-col size="6">
            <p class="advance-bookings_item-label">Full Fat Milk</p>
          </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label">2 Litres</p>
          </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label price">₹120.00</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p class="advance-bookings_item-label">Curd</p>
          </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label">0.5 Kg</p>
           </ion-col>
          <ion-col size="3">
            <p class="advance-bookings_item-label price">₹50.00</p>
          </ion-col>
        </ion-row>
        <div class="hr"> </div>

        <p class="advance-bookings_item-label">
          <span class="advance-bookings_item-label--bold">Order Total:</span>
          <span class="advance-bookings_item-label--bold price">₹170.00</span>
        </p>

        <ion-row class="ion-justify-content-center">
          <ion-col size="7">
            <ion-button class="ion-text-wrap" color="danger">
              REJECTED
            </ion-button>
          </ion-col>
        </ion-row>
        
      </div>
      <ion-fab>
        <ion-fab-button [routerLink]="['/buyer/add-booking']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>


<!-- Requested Segment -->
  <div class="main" *ngIf = "showRequested">
    <p class="section_title">
      This is requested segment.
    </p>
  </div>
</ion-content>

