ion-segment{
    margin: 35px 40px 2px;
}
ion-segment-button{
    --background-checked: var(--ion-color-secondary);
    --color-checked: var(--ion-color-secondary-contrast);
    --indicator-color : transparent!important;
}
ion-chip{
    float: right;
    margin-top: -26px;
    margin-right: 0px;
}
.head{
    font-size: 15px;
}
.main {
    padding: 20px 40px;
    .head{
        margin-top: 20px;
        .current{
            display: inline-block;
            color: black!important;
        }
    }
    .hr {
        border-bottom: 1px solid var(--ion-color-medium);
        margin: 10px 0;
        width: 100%;
        margin-bottom: 30px;
    }
    .label{
        color: var(--ion-color-medium);
        font-size: 10px;
        margin-top: -15px;  
    }
    .form {
        width: 100%;
        .input_wrapper {
            margin-bottom: 20px;
            position: relative;
            .search-icon {
                position: absolute;
                right: 20px;
                top: calc(17% + 5px);
                z-index: 2;
            }
            .calendar-icon {
                position: absolute;
                right: 20px;
                top: calc(50% + 5px);
                z-index: 2;
            }
        }
    }
    .search{
        float: right;
    }
    .change{
        float: right;
    }
    .name{
        font-size: 13px;
    }
    .price{
        display: inline-block;
        float: right;
    }
    .action {
        width: calc(100%);
        position: fixed;
        margin-top: -15px;
        left: 0;
        right: 0;
        padding: 10px 40px;
    }
    .paid{
        font-size: 13px;
        font-weight: 600;
    }
    .filter{
        width:calc(100%);
        margin-top: 15px;
        margin-bottom: 15px;
        left: 0;
        right: 0;
        padding-right: 10px;

    }
    .bill {
        padding-top: 10px;
        &_items_wrapper {
            margin-bottom: 1rem;
        }
        &_item {
            padding: 12px;
            border-bottom: 1px solid var(--ion-color-primary);
            &:last-child {
                border-bottom: none;
            }
            &-timestamp { 
                font-size: 12px;
                font-weight: 450;
                color: var(--ion-color-primary);
                margin-bottom: 10px;
            }
            &-label {
                font-size: 13px;
                font-weight: 300;
                margin: 0 0 10px;
                &--bold {
                    font-weight: 600;
                }
            }
            &-edit {
                font-weight: 500;
                margin-top: 10px;
                font-size: 13px;
                color: var(--ion-color-secondary);
                ion-icon {
                    padding-left: 4px;
                }
            }
        }
    }
    
}