<ion-header mode="ios">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-icon name="menu-outline" size="large"></ion-icon> -->
    </ion-buttons>
    <ion-title>Hello {{userData.fullName.toString().split(" ")[0] | titlecase}}!</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="overview">
      <p class="section_title">
        Overview
      </p>
      <div class="overview_items_wrapper">
        <div class="card_primary overview_item">
          <p class="overview_item-number">{{dashboardStats.totalProducts}}</p>
          <p class="overview_item-label">Total Products</p>
        </div>
        <div class="card_primary overview_item">
          <p class="overview_item-number">{{dashboardStats.totalBuyers}}</p>
          <p class="overview_item-label">Total Buyers</p>
        </div>
      </div>
    </div>
    <div class="advance-bookings">
      <p class="section_title">
        Advance Bookings ({{pendingItems.length}})
      </p>
      <app-empty *ngIf = "showEmpty"></app-empty>
      <div *ngIf = "showPendingItems" class="card_primary advance-bookings_items_wrapper">
        <div class="advance-bookings_item" *ngFor="let item of pendingItems">
          <p class="advance-bookings_item-timestamp">{{item.createdAt}}</p>
          <p class="advance-bookings_item-label">
            {{item.buyerUser.fullName}} Requested for 
            <span class="advance-bookings_item-label--bold">{{item.bookingDetails[0]?.productQty}}  {{item.bookingDetails[0]?.productUnit}}</span>  
            of 
            <span class="advance-bookings_item-label--bold">{{item.bookingDetails[0]?.productName}}</span>
          </p>
          <div class="advance-bookings_item-action">
            View Booking
            <ion-icon name="arrow-forward-outline" color="secondary"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</ion-content>
<ion-footer class="advertisement_footer">
  Google Ad Goes Here
</ion-footer>
