<ion-header mode="ios">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Products</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="search-outline" size="large"></ion-icon>
        </ion-buttons>
        <ion-searchbar (ionChange)="onSearch($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main">
        <div class="my-products">
            <p class="section_title">
                My Products(12)
            </p>
            <div class="card_primary my-products_items_wrapper" *ngFor="let item of items">
                <ion-buttons class="my-products_item-edit">
                    Edit
                    <ion-icon name="create-outline"></ion-icon>
                </ion-buttons>
                <p class="my-products_item-timestamp">Dairy</p>
                <p class="my-products_item-label">
                    {{item?.productName}}
                    <span class="my-products_item-label--bold">{{item?.productUnit}}</span>
                </p>
                <p class="my-products_item-timestamp">{{item?.productPrice}}/{{item?.productUnit}}</p>
            </div>
        </div>
        <ion-fab>
            <ion-fab-button [routerLink]="['/seller/add-product']">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>