<ion-header mode = "ios">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="my-products">
      <p class="section_title">
        My Products(12)
      </p>
      <div class="card_primary my-products_items_wrapper" *ngFor="let item of ['1','2','3','4','5','6','7','8','9','10','11','12']">
        <ion-buttons class="my-products_item-edit">
          Edit
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-buttons>
        <p class="my-products_item-timestamp">Dairy</p>
        <p class="my-products_item-label">
          Full Fat Milk
          <span class="my-products_item-label--bold">(Litres)</span>
        </p>
        <p class="my-products_item-timestamp">{{rsIcon}}60/Litre</p>
      </div>
    </div>
    <ion-fab>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>

