<ion-content>
  <div class="main">
    <div class="illustration">
      <img src="../../../../../assets/images/welcome_illustration.png" alt="">
    </div>
    <div class="content">
      <p class="title">
        Welcome to BWA
      </p>
      <p class="subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quis alias eveniet veniam numquam odit voluptatem
      </p>
    </div>
    <div class="action">
      <ion-button [routerLink]="['/welcome/auth-option']">GET STARTED</ion-button>
    </div>
  </div>
</ion-content>
