.main {
    padding: 20px 40px;
    .head{
        margin-top: 20px;
        .current{
            display: inline-block;
            color: black!important;
        }
    }
    .home {
        &_items_wrapper {
            margin-bottom: 1rem;
            padding-bottom: 1px;
        }
        &_item {
            padding: 12px;
            &:last-child {
                border-bottom: none;
            }
            &-timestamp { 
               font-size: 12px;
               font-weight: 300;
               color: var(--ion-color-medium);
               margin: 0;
            }
            &-label {
                font-size: 13px;
                font-weight: 300;
                margin: 10px 0;
                &--bold {
                    font-weight: 500;
                }
            }
            &-action {
                font-size: 12px;
                font-weight: 300;
                color: var(--ion-color-secondary);
                display: flex;
                align-items: center;
                ion-icon {
                    padding-left: 4px;
                }
            }
            &-edit {
                font-weight: 500;
                display: inline-block;
                float: right;
                font-size: 13px;
                color: var(--ion-color-secondary);
                margin-top: 2px;
            }
        }
    }
    .hr {
        border-bottom: 1px solid var(--ion-color-medium);
        margin: 10px 0;
        margin-bottom: 30px;
        width: 100%;
    }
    .form {
        width: 100%;
        .input_wrapper {
            margin-bottom: 20px;
            position: relative;
            .search-icon {
                position: absolute;
                right: 20px;
                top: calc(17% + 5px);
                z-index: 2;
            }
            .calendar-icon {
                position: absolute;
                right: 20px;
                top: calc(50% + 5px);
                z-index: 2;
            }
        }
        
        .filter{
            width:calc(100%);
            margin-top: 15px;
            margin-bottom: 15px;
            left: 0;
            right: 0;
            padding-right: 10px;
    
        }  
}
}