ion-segment{
    margin: 35px 40px 2px;
}
ion-segment-button{
    --background-checked: var(--ion-color-secondary);
    --color-checked: var(--ion-color-secondary-contrast);
    --indicator-color : transparent!important;
}
ion-button{
    font-size: 12px;
}
ion-chip{
    float: right;
    margin-top: 2px;
    margin-right: 0px;
}
.main {
    padding: 20px 40px;
    .name{
        font-size: 13px;
    }
    .hr {
        border-bottom: 1px solid black;
        margin: 10px 0;
        width: 100%;
    }
    .paid{
        font-size: 13px;
        font-weight: 600;
    }
    .status{
        display: inline-block;
    }
    .out-btn{
        font-size: 17px;
        margin-bottom: 20px;
    }
    .price-a{
        float: right;
        color: var(--ion-color-medium);
    }
    .price-b{
        float: right;
    }
    .bill-detail {
        &_items_wrapper {
            margin-bottom: 1rem;
        }
        &_item {
            padding: 12px;
            border-bottom: 1px solid var(--ion-color-primary);
            &:last-child {
                border-bottom: none;
            }
            &-timestamp { 
                font-size: 12px;
                font-weight: 450;
                color: var(--ion-color-primary);
                margin-bottom: 10px;
            }
            &-label {
                font-size: 13px;
                font-weight: 300;
                margin: 0 0 10px;
                &--bold {
                    font-weight: 600;
                }
            }
        }
    }
}
